<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <div id="intro">
    <h1><%= title %></h1>
    <p>Welcome! Click a link below to get started.</p>
    <br>
    <a href="/flights/new">Add a new Flight</a>
    <a href="/flights">View All Flights</a>
    </div>
  </body>
</html>
